name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # CI set up
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    # CD set up

    #CD deploy to the Docker Hub
    - name: Build and Push Docker Image
      uses: mr-smithers-excellent/docker-build-push@v6
      with:
        image: azim607/library-management-system
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    #CD deploy to the AWS
    - name: Deploy to AWS EC2
      if: github.event_name != 'pull_request' # Only deploy on merge to main
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          # Pull the latest image
          docker pull azim607/library-management-system:latest
          
          # Stop the old container (|| true prevents error if it's the first run)
          docker stop library-app || true
          docker rm library-app || true
          
          # Run the new container
          # We map port 80 (HTTP) to 8080 (Java) so you don't have to type :8080 in browser
          docker run -d --name library-app -p 80:8080 azim607/library-management-system:latest


